@import "colors";

.table {
  width: 100%;
  border-collapse: collapse;
  position: relative;

  thead {
    background-color: $primary-color;
    position: sticky;
    top: 0;

    th {
      padding: 5px 10px;
      text-transform: capitalize;
      color: $white-color;
    }
  }

  tr {
    & > td {
      padding: 2px 7px;
    }

    &:nth-child(even) {
      background-color: $even-row-color;
      color: $white-color;
    }
  }
}

.table-footer {
  display: flex;
  justify-content: space-between;
  background-color: $white-color;
  position: sticky;
  bottom: 0;
}

.table-wrapper {
  height: calc(100vh - calc(70px + 28px + 54px + 20px + 5px));
  overflow-y: auto;
}
