<fm-grid>
  <fm-grid-item lg="8">
    <fm-table [fields]="fields" [data]="categories" [total]="total" (pagination)="pagination($event)">
      <ng-template tableColumnTemplate="avatar" let-item="item">
        <img class="avatar" [src]="item.avatar" alt="avatar" />
      </ng-template>
    </fm-table>
  </fm-grid-item>
  <fm-grid-item lg="4">
    <fm-form
      (formSubmit)="formSubmit()"
      [form]="categoryFormGroups"
      [forms]="categoryForm"
    >
      <ng-template formTemplate="name" let-control="control">
        <span>{{ control.value }}</span>
      </ng-template>
    </fm-form>
  </fm-grid-item>
</fm-grid>
<ng-template #header toastBehavior="header" let-close="close">
  header
</ng-template>
<ng-template #body toastBehavior="body" let-close="close">
  <button (click)="close()">ffff</button>
</ng-template>
