@import 'colors';

.content {
  padding: 10px;
  height: calc(100vh - calc(70px + 28px + 54px + 20px));
  position: relative;

  .toast-docker {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
