<fm-tab>
  <fm-tab-item active="true">
    <div ngProjectAs="tab-header">1</div>
    <div ngProjectAs="tab-body">
      tab 1
      <fm-grid lg="2" md="3" sx="4">
        <fm-grid-item lg="8" md="6" sx="4">
          item 1
        </fm-grid-item>
        <div class="">2</div>
        <div class="">3</div>
        <div class="">4</div>
      </fm-grid>
    </div>
  </fm-tab-item>
  <fm-tab-item>
    <div ngProjectAs="tab-header">2</div>
    <div ngProjectAs="tab-body">tab 2</div>
  </fm-tab-item>
  <fm-tab-item>
    <div ngProjectAs="tab-header">3</div>
    <div ngProjectAs="tab-body">tab 3</div>
  </fm-tab-item>
</fm-tab>
