/* You can add global styles to this file, and also import other style files */
@import url('./app/static/scss/index.scss');

body {
  font-family: OpenSansRegular;
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  margin: 0;
}

button {
  cursor: pointer;
}
