@import 'colors';

.rounded {
  border-radius: 3px;
}

.input {
  box-sizing: border-box;
  border: 1px solid $gray-color;
  outline: none;
  width: 100%;
  min-height: 30px;
  padding: 0 5px;
}

.error {
  border: 1px solid $error-color;
}
