@import 'colors';

.form-control {
  border: none;
  outline: none;
  padding: 0;
  width: 100%;

  .field {
    display: flex;

    & > .label {
      font-weight: bold;
      margin-right: 7px;
      text-transform: capitalize;
      margin-bottom: 5px;
    }
  }
}

.ng-invalid:not(form)  {
  color: $error-color;
  font-size: 14px;
  margin: 0;
  font-weight: 600;

  & > *:first-child {
    text-transform: capitalize;
  }
}
