@import 'colors';

.image-select-box {
  position: relative;
  min-height: 300px;
  width: auto;
  border-radius: 3px;
  border: 3px dashed $image-select-box-color;
  cursor: pointer;

  &::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('/images/picture.png');
    background-repeat: no-repeat;
    background-size: 270px;
    background-position: center;
    opacity: .5;
    top: 0;
    left: 0;
    z-index: -1;
  }

  & > input {
    visibility: hidden;
  }

  & > .images-preview-box {
    display: flex;
    justify-content: center;
    gap: 7px;
    padding: 7px;

    .image-wrapper {
      position: relative;

      & > img {
        width: 250px;
        height: 250px;
      }

      .remove {
        position: absolute;
        bottom: -5px;
        right: -5px;
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: $error-color;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: $white-color;
        padding: 4px 0;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
      }
    }
  }

  *:has(&) {
    flex-direction: column;
  }
}

.error {
  border-color: $error-color;
}
